


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Blogs listing:
    <% if @blogs.empty? %>
      Nothing here...
    <% else %>
      <%= @blogs.count %> blogs...
    <% end %>

  </div>

  <div class="panel-body">
    <table class="table" >

  <thead>
    <tr>
      <th>Posted on</th>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>

    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.created_at %></td>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td><%= link_to 'Show', blog %>

          <% @user = current_user %>
          <% if user_signed_in? && @user.admin %>


       <%= link_to 'Edit', edit_blog_path(blog) %> <%= link_to '    Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
     </td>

     </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

<div class ='pagenav'>
<%== pagy_bootstrap_nav(@pagy) %> <br/>
</div>

<%#= link_to 'New Blog', new_blog_path %>
