

<p>
  <strong>Posted on:</strong>
  <%= @blog.created_at %>
</p>



<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Comments:</strong>
  <%= render @blog.blog_comments.order(id: :desc) %>
  <%= render :partial =>  'blog_comments/form', locals: { } %>
</p>

<%#= link_to 'Edit', edit_blog_path(@blog) %>
<%= link_to 'Back', blogs_path %>
