<!-- views/checkout/success.html.erb -->

<% if user_signed_in? %>



<p>Thank you for your payment of <%= number_to_currency @success.payment_intent.amount / 100.0 %><br><br>
<p>The status of your payment is <%= @success.payment_intent.status %>.</p>

<p>A copy of your invoice is here...<%= @success.payment_intent.reciept_url %>.</p>

<p>Thank you for your payment.<br/>
Shipments begin after receiving payments from everyone in the campaign.<br/>
Check the status of the transaction in the main menu.
</p>

<%= debug @session %>
<%= debug @success %>


<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see this page.</div>

<% end %>

<!-- end -->
