<p id="notice"><%= notice %></p>

<p>
  <strong>Notify msg:</strong>
  <%= @notification.notify_msg %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @notification.enabled %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
