<div class="nested-fields">
    <%= f.input :enabled %>
    <%= f.input :poll %>
    <%= f.input :poll_url_enabled %>
    <%= f.input :poll_url %>

  <%= link_to_remove_association "Remove poll option", f %>
</div>
