
 <%= simple_form_for @contact ,:validate => true  do |f| %>
 <%= f.input :name ,:validate => true  %>
 <%= f.input :email ,:validate => true  %>
 <%= f.input :registered_user %>
 <%= f.input :supplier, :label => 'Vendor'  %>

 <%= f.input :message  ,:validate => true %>
 <div class="g-recaptcha" data-sitekey="6LeZ0DsaAAAAAAb7ElWkmmRTkh5CkTxcsOhT8Ynm"></div><br> 

 <%= f.submit "Get in touch!", class: "btn btn-info" %><br><br>
 <%= link_to "Click here to create a vendor profile", new_vendor_path %>
 <% end %>
