<% if @recent_products.blank?  %>
<p>Sorry, we will be updating the shop with some new products shortly.<br/><br/>
If your a manufacturer, or a wholesaler/distrubutor of audio gear I'd love to hear from you.
<br/>
Please use the contact form to get in touch.
</p>

<% else %>



<h3 class="font-weight-light text-left text-lg-left mt-4 mb-0">Recently Added</h3>
<hr class="mt-2 mb-5">


<% @recent_products.each do |p| %>
<div class="container">

<div class="row text-center text-lg-left">
  <div class="col-md-3 col-md-4 col-6">


     <a href= "<%=  product_path(p) %>" class="d-block mb-4 h-100" >
       <h5> <%= p.title %> </h5>
     <img class="img-fluid img-thumbnail" src="<%= asset_pack_path "media/images/#{p.picurl }" %>" alt="">
     </a>

      <div class ="caption" >
    <!-- <%#= truncate(p.template, length: 50 , separator: ' ')  %><br/> -->
     <small><i>Available between:</i> <%= p.startdate %>  - <%= p.enddate %></small>
   </div>

 </div>
</div>
</div>



<% end %>

</div>

<% end %>
