<% if @recent_products.blank?  %>
<p>Sorry, we will be updating the shop with some new products shortly.<br/><br/>
If your a manufacturer, or a wholesaler/distrubutor of audio gear I'd love to hear from you.
<br/>
Please use the contact form to get in touch.
</p>

<% else %>


<h3>Recently Added</h3>

<div class="container">

  <div class="row">

<% @recent_products.each do |p| %>

  <div class="col-md-4 col-sm-6 col-xs-12">
  <!--    <div class="thumbnail"> -->


     <a href= "<%=  product_path(p) %>" >
        <h5> <%= p.title %> </h5>


  <!--   <img src="<%#= asset_pack_path "media/images/#{p.picurl }" %>" alt=""><br/> -->
   <img src="<%= p.picurl %> "   alt="" > <br/>

<!-- <%# require 'date' %>
     <%# @days_remaining = Date.today.to_i - p.enddate.to_i   %>
     <%#= @days_remaining %> days remaining...
-->

     </a>
     <!-- <small><i>Available between:</i> <%#= p.startdate %>  - <%#= p.enddate %></small> -->
<font color ="grey">
    <small><i>Available between:</i> <%= p.startdate %>  - <%= p.enddate %></small>
</font>

      <!-- <div class ="caption" > -->
    <!-- <%#= truncate(p.template, length: 50 , separator: ' ')  %><br/> -->
   <!-- </div> -->
   <!-- </div> -->


</div>
<% end %>

</div>

<% end %>
