<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket #:</strong>
  <%= @troubleticket.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @troubleticket.user_id %>
</p>

<p>
  <strong>Status:</strong>

  <% if @troubleticket.status == true %>
  opened
  <% else %>
  closed
  <% end %>
  <%#= @troubleticket.status %>

</p>

<p>
  <strong>Campaign:</strong>
  <%= @troubleticket.campaign %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @troubleticket.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @troubleticket.message %>
</p>

<% if @troubleticket.ticketnotes.any? %>

<% @troubleticket.ticketnotes.each do |ticketnote| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= ticketnote.created_at.strftime("%m/%d/%Y")   %> </td>
     <!-- <td> <%#= ticketnote.troubleticket_id   %></td> -->
     <td> <%= ticketnote.notes   %> <br/></td>
  </tr>
<% end %>
<% else %>
<i>...no additional notes...</i><br/>
<% end %>
<br/>
<% if @troubleticket.status == true %>
  <%= link_to 'Update', edit_troubleticket_path(@troubleticket) %> |
<% end %>

<%= link_to 'Back', troubletickets_path %>
