<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>User:</strong>
  <%#= @troubleticket.user_id %>
</p>
-->

<p>
  <strong>Status:</strong>
  <% if @troubleticket.status == true %>
  Open
  <% else %>
  Closed
  <% end %>

</p>

<p>
  <strong>Campaign:</strong>
  <%= @troubleticket.campaign %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @troubleticket.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @troubleticket.message %>
</p>

<% if @troubleticket.status == true %>
  <%= link_to 'Update', edit_troubleticket_path(@troubleticket) %> |
<% end %>

<%= link_to 'Back', troubletickets_path %>
