<p id="notice"><%= notice %></p>


<p>
  <strong>Ticket #:</strong>
  <%= @troubleticket.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @troubleticket.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @troubleticket.status %>

</p>

<p>
  <strong>Campaign:</strong>
  <%= @troubleticket.campaign %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @troubleticket.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @troubleticket.message %>
</p>

<% if @troubleticket.status == false %>
  <%= link_to 'Update', edit_troubleticket_path(@troubleticket) %> |
<% end %>
<% if @troubleticket.status == true %>
  <%= link_to 'Update', edit_troubleticket_path(@troubleticket) %> |
<% end %>

<%= link_to 'Back', troubletickets_path %>
