<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @troubleticket.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <% if @troubleticket.status == true %>
  <%#= @troubleticket.status %>
  open
  <% else %>
  closed
  <% end %>

</p>

<p>
  <strong>Campaign:</strong>
  <%= @troubleticket.campaign %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @troubleticket.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @troubleticket.message %>
</p>

<%= link_to 'Update', edit_troubleticket_path(@troubleticket) %> |
<%= link_to 'Back', troubletickets_path %>
