<% @user = current_user %>
<% if user_signed_in?  %>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Polls List:
    <% if @polls.empty? %>
      Nothing here...
    <% else %>
      <%= @polls.count %> things to vote on...
    <% end %>

  </div>

  <div class="panel-body">
    <table class="table" >
  <thead>
    <tr>
      <!--<th>Id</th>  -->
        <th>Enabled</th>
      <th>Name</th>
      <th>Description</th>

        <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <!-- <td><%#= poll.id %></td> -->
        <td><%= poll.enabled %></td>
        <td><%= poll.name %></td>
        <td><%= poll.description %></td>

        <td><%= link_to 'Vote', poll %>
          <% if user_signed_in? && @user.admin %>

      <%= link_to 'Edit', edit_poll_path(poll) %>
      <%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
        </td>

      <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


<div class ='pagenav'>
<%== pagy_bootstrap_nav(@pagy) %> <br/>
</div>

<% else %>
  <div class="alert alert-warning" role="alert">You must be signed in as the administrator to view the Poll List.</div>
<% end %>
