<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @vendor.vendor %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @vendor.contact_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @vendor.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @vendor.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @vendor.city %>
</p>

<p>
  <strong>State/Prov:</strong>
  <%= @vendor.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vendor.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vendor.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.website %>
</p>

<p>
  <strong>Product:</strong>
  <%= @vendor.product %>
</p>

<p>
  <strong>Dropship:</strong>
  <%= @vendor.dropship %>
</p>

<p>
  <strong>Processing:</strong>
  <%= @vendor.processing %>
</p>

<p>
  <strong>Locally:</strong>
  <%= @vendor.locally %>
</p>

<p>
  <strong>Payments:</strong>
  <%= @vendor.payments %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
