
<%# simple_form_for(@feedback), transaction_feedbacks_url(transaction_id: @transaction.id) do |f| %>

<%= simple_form_for(@feedback) do |f| %>

  <%= f.error_notification %>


  <div class="form-inputs">
    <%#= f.input :rate %>
    <%= f.label :'Please rate your transaction on a scale of 1 to 5, with 1 being poor and 5 being excellent.' %>
    <%= f.select :rate, [[5, 5], [4 , 4], [3, 3], [2, 2], [1, 1]], {}, {class: "form-control"} %>

<br/>
    <%#= f.input :recommend %>
    <%= f.label :'Would you recommend us to a friend on a scale of 1 to 5, with 1 highly unlikely and 5 extremely likely.' %>
    <%= f.select :recommend, [[5, 5], [4 , 4], [3, 3], [2, 2], [1, 1]], {}, {class: "form-control"} %>

<br/>
    <%= f.input :comment %>

    <%= f.input :transaction_id, :as => :hidden %>
    <%#= f.input :transaction_id %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>

  </div>
<% end %>
