
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Feedback:

        <% if @feedbacks.empty? %>
          Nothing here...
        <% else %>
          <%= @feedbacks.count %> left here...
        <% end %>

    </div>


    <div class="panel-body">

<table class="table" >
  <thead>
    <tr>

      <th>Rating</th>
      <th>Recommend</th>
      <th>Feedback</th>

      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
<% if  !@feedbacks.empty? %>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
          <td>
            <% for i in 1..feedback.rate do %>
               <%= image_tag("star3d.png", size: "16") %>
          <%  end %>
           </td>

        <td>
           <% for i in 1..feedback.recommend do %>
             <%= image_tag("star3d.png", size: "16") %>
        <%  end %>
      </td>
        <td><%= feedback.comment %></td>

      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
</div>
</div>

<br>

<%#= link_to 'New Feedback', new_feedback_path %>
<% if  !@feedbacks.empty? %>

  <div class="pagenav">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
