<% @user = current_user %>
<% if user_signed_in? && @user.admin %>


  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Feedback:
        <% if @feedbacks.empty? %>
          Nothing here...
        <% else %>
          <%= @feedbacks.count %> left here...
        <% end %>

    </div>


    <div class="panel-body">
<table class="table" >
  <thead>
    <tr>
      <th>Rate</th>
      <th>Recommned</th>
      <th>Comment</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.rate %></td>
        <td><%= feedback.recommend %></td>
        <td><%= feedback.comment %></td>
        <!-- <td><%#= feedback.transaction_id %></td> -->
      <!--  <td><%#= link_to 'Edit', edit_feedback_path(feedback) %> -->
        <%= link_to '    Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%#= link_to 'New Feedback', new_feedback_path %>

  <div class="pagenav">
    <%== pagy_bootstrap_nav(@pagy) %> <br/>
  </div>

<% else %>
  <div class="alert alert-warning" role="alert"> You must be signed in to view the Feedback.</div>
<% end %>
