
<% @user = current_user %>
<% if user_signed_in? && @user.admin %>


  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Tax Rates:
      <% if @taxes.empty? %>
        Nothing here...
      <% else %>
        <%= @taxes.count %> rates here...
      <% end %>

    </div>
    <div class="panel-body">
<table class="table" >
  <thead>
  <tr>
    <th>Prov/<br/>State ID</th>

    <th>Tax     </th>

    <th>Comment</th>

    <th>Actions</th>

  </tr>
  </thead>

  <tbody>
    <% @taxes.each do |tax| %>
      <tr>
        <td><%=  tax.prov_id  %></td>
        <td><%=  tax.tax_rate  %></td>
        <td><%=  tax.comment  %></td>
        <td><%= link_to 'Edit', edit_tax_path(tax) %>
        <%= link_to '    Destroy', tax_path(tax),   method: :delete,
              data: { confirm: 'Are you sure?' } %> </td>
  </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>

  <div class="pagenav">
    <%== pagy_bootstrap_nav(@pagy) %> <br/>
  </div>

<% else %>
  <div class="alert alert-warning" role="alert">You must be signed in as the administrator to view the taxes.</div>
<% end %>
