
<% @user = current_user %>
<% if user_signed_in? && @user.admin %>

<p>
  <strong>Prov:</strong>
  <%= @tax.prov_id %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= @tax.tax_rate %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @tax.enabled %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tax.comment %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>


<% else %>
  <div class="alert alert-warning" role="alert"> You must be signed in to see the taxes.</div>
<% end %>
