<!-- found in views/categories/index.html.erb -->

  <div>

  <% if @categories.empty?  %>
    Nothing here...
  <% else %>

    <%=   @categories.count %> categories <br/><br/>

  <% end %>
  </div>

  <!-- insert new stuff here... -->

  <div class="container-fluid contenedor text-center">

  <!--	<div class="container text-center"> -->

    <% @categories.each do |category| %>

    <a class="container text-center" href=  "<%=  category_path(category) %>" >

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">

    <article class="text-left">
        <%= truncate(category.name )  %>
        <%#= category.name %>
        </article>

        <img src="<%= asset_pack_path "media/images/#{category.picurl }" %>" alt="">

      </div>
    </a>
    <% end %>
  </div>


  </br>


  <div class="pagenav">
  <%== pagy_bootstrap_nav(@pagy) %> <br/>
</div>

<!-- end -->
