<!-- found in views/categories/index.html.erb -->

  <div>

  <% if @categories.empty?  %>
    Nothing here...
  <% else %>

    <%=   @categories.count %> categories <br/><br/>

  <% end %>
  </div>

  <!-- insert new stuff here... -->

  <div class="container gallery-container">

  <!--	<div class="container text-center"> -->

    <% @categories.each do |category| %>

    <a class="tz-gallery" href=  "<%=  category_path(category) %>" >
      <div class="row">
        <div class="col-sm-6 col-md-4" >
          <div class="thumbnail">


            <h4><%= truncate(category.name )  %></h4>

        <img src="<%= asset_pack_path "media/images/#{category.picurl }" %>" alt="">

      </div>
      </div>
      </div>
    </a>
    <% end %>
  </div>


  </br>


  <div class="pagenav">
  <%== pagy_bootstrap_nav(@pagy) %> <br/>
</div>

<!-- end -->
