<!-- found in views/categories/show.html.erb -->

<%= link_to 'Back', categories_path %><br/>

<%= @products.count %> products in this category.<br/>
</br>

<!-- insert new stuff here -->


<div class="container-fluid contenedor text-center">

	<div class="container text-center">

<% @products.each do |product| %>


<a class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto" href=  "<%=  product_path(product) %>" >

    <article class="text-left">
      <h3> <%= product.title %> </h3>
			<%= truncate(product.template, length: 50 , separator: ' ')  %>
  Active: <%= product.startdate %>  - <%= product.enddate %>
    </article>

		<img src="<%= asset_pack_path "media/images#{product.picurl }" %>" alt="">
</a>


<% end %>
</div>
</div>

  </br>
<div class="pagenav">
  <%== pagy_bootstrap_nav(@pagy) %> <br/>

</div>

<!-- end -->
