<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction msg:</strong>
  <%= @transaction.transaction_msg %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Shipped:</strong>
  <%= @transaction.shipped %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @transaction.invoice_number %>
</p>

<p>
  <strong>Tracking number:</strong>
  <%= @transaction.tracking_number %>
</p>

<p>
  <strong>Postal carrier:</strong>
  <%= @transaction.postal_carrier %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
