<!-- Find me in app/views/products/index.html.erb -->

  <%= link_to 'Back', categories_path %></br>

  <div>
  <% if @searchtotal == 0  %>
  returned nothing... try again...
  <% else %>
    <% if @searchtotal > 0 %>
      <%= @searchtotal.to_s %> products found...
    <% end %>
    <%= @total_products.to_s %> products...
  <% end %>
  </div>

  <div class="container">

  <div class="row">

  <% @products.each do |product| %>

    <!-- <div class="img"> -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <!--    <div class="thumbnail"> -->

            <a href=  "<%=  product_path(product) %>" >


        <!--  <article class="text-left"> -->
        <font color ="grey" >
            <h5> <%= product.title %> </h5>
        </font>
        <!--    <%#= truncate(product.template, length: 50 , separator: ' ')  %> -->
        <!--  <img src="<%= asset_pack_path "media/images/#{product.picurl }" %>" alt=""><br/> -->
        <img src="<%= product.picurl  %>" width="250" height="250" alt=""><br/>
</a>
<font color ="grey" >
          <i>Ending:</i> <%= product.enddate %> </i>
      <!--  </article> -->
</font>


        <!-- </div> -->
    </div>
      <% end %>
      </div>
      </div>

  </br>
  <div class="pagenav">
    <%== pagy_bootstrap_nav(@pagy) %> <br/>
  </div>

<!-- end -->
