<p id="notice"><%= notice %></p>

<p>
  <strong>Draft:</strong>
  <%= @product.draft %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Template:</strong>
  <%= @product.template %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @product.msrp %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @product.startdate %>
</p>

<p>
  <strong>Endate:</strong>
  <%= @product.endate %>
</p>

<p>
  <strong>Funded:</strong>
  <%= @product.funded %>
</p>

<p>
  <strong>Picurl:</strong>
  <%= @product.picurl %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @product.qty %>
</p>

<p>
  <strong>Length:</strong>
  <%= @product.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @product.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Courier:</strong>
  <%= @product.courier %>
</p>

<p>
  <strong>Courierurl:</strong>
  <%= @product.courierurl %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
