<!-- views/layouts/_footer.html.erb -->
<footer>
<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-xs-12 about-company">
      <h3>JG Infosystems</h3>
      <p class="pr-5 text-white-50">About the company, little discription will goes here.. </p>
      <p><a href="#"><i class="fa fa-facebook-square mr-1">Join us on Facebook</i></a></p>
    </div>


    <div class="col-lg-4 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-4">Policies</h4>

           <%= link_to "Cookie", pages_cookies_path %><br>
           <%= link_to "Privacy", pages_privacy_path %><br>
           <%= link_to "Returns", pages_returns_path %><br>
           <%= link_to "Shipping", pages_shipping_path %><br>
           <%= link_to "Taxes", pages_taxes_path %>

    </div>

    <div class="col-lg-4 col-xs-12 getstarted">
      <h4 class="mt-lg-0 mt-sm-4">Get Started</h4>

      <p>Get access to awesome deals.</p>
      <%= link_to "Sign up now", new_user_registration_path , class: "btn btn-primary" %>

    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <br/>
      <p class=""><small class="text-white-50">JG Infosystems © 2020. All rights reserved.</small></p>
    </div>
  </div>
</div>
</div>
</footer>
