<!-- views/layouts/_nav.html.erb -->
<nav class="navbar navbar-inverse">

  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_url %>"> <%= @site_name %></a>
      </div>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">

    <li >
      <%= link_to pages_about_path do %>
       About<span class="sr-only"></span>
      <% end %>
    </li>

      <li>
        <%= link_to "Contact", pages_contact_path %>
      </li>
<%= render 'layouts/categorydropdown' %>
<%= render 'layouts/search_bar' %>
     </ul>

    <ul class="nav navbar-nav navbar-right">

      <% if !current_user %>

             <li><%= link_to "Terms", pages_terms_path %></li>
             <li><%= link_to "FAQ", pages_faq_path %></li>
             <li> <%= link_to "Sign Up", new_user_registration_path %></li>
            <li>  <%= link_to "Log in", new_user_session_path %> </li>

       <% else %>

          <li><%= render 'layouts/analmenu' %></li>
          <li><%= render 'layouts/adminmenu' %></li>
          <li><%= render 'layouts/notificationsdropdown' %></li>
          <li><%= render 'layouts/mainmenu' %></li>

      <% end %>


</ul>
<!-- search box was here  -->

</div>
</div>
</nav>
<!-- end nav bar -->
