<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= @site_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/google_analcode' %>
    <%= render 'layouts/hotjar_analcode' %>

    <%= stylesheet_pack_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://js.stripe.com/v3/"></script>

</head>
  <!-- script type="text/javascript">
    $(document).ready(function() {});
  </script>  -->

  <body>

    <div class="content">

      <%= render 'layouts/nav' %>
      <%= custom_bootstrap_flash %>

  <div class="container">
  <br>
  <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
      <%= yield %>

</div>
</div>

<!--  disable footer until I fix the galleries -->
    <%= render 'layouts/footer' %>

  </body>
</html>
