<!DOCTYPE html>
<html>
  <head>
    <title>MdApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">

    <%= render 'layouts/nav' %>
    <%= bootstrap_flash %>

  <div class="container">

      <%= render_breadcrumbs :tag => :li, :separator => "" %>
      <%= yield %>
</div>
</div>

 <%= render 'layouts/footer' %>
 
  </body>
</html>
