<!DOCTYPE html>
<html>
  <head>
    <title>MASSDUMP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script type="text/javascript">
      $(document).ready(function() {});
    </script>


    <div class="content">

      <%= custom_bootstrap_flash %>
    
    <%= render 'layouts/nav' %>

  <div class="container">
  <br>
  <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
      <%= yield %>

</div>
</div>
 <%= render 'layouts/footer' %>

  </body>
</html>
