<!DOCTYPE html>
<html>
  <head>
    <title>MASSDUMP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">

    <%= render 'layouts/nav' %>
    <%#= bootstrap_flash %>

  <div class="container">
  <br>  
  <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => " / " %>
  </ol>
      <%= yield %>

</div>
 <%= render 'layouts/footer' %>

  </body>
</html>
