<!DOCTYPE html>
<html>
  <head>
    <title>MASSDUMP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/google_analcode' %>
    <%= render 'layouts/hotjar_analcode' %>

    <%= stylesheet_pack_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script type="text/javascript">
      $(document).ready(function() {});
    </script>

    <script>
        baguetteBox.run('.tz-gallery');
    </script>


    <div class="content">

      <%= render 'layouts/nav' %>
      <%= custom_bootstrap_flash %>

  <div class="container">
  <br>
  <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
      <%= yield %>

</div>
  </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
